<p>张凤芳，现在的时间<%= Time.now %></p>
<p><%= link_to '点击跳转',welcome_say_hello_path%></p>
<p><%= link_to '跳转到百度',"http://www.baidu.com"%></p
<p><%= link_to '数据库增删查改',people_path%></p>
<p><%= link_to '点击跳转到中国科学院大学综合信息网',"http://onestop.ucas.edu.cn"%></p>